.App {
  text-align: center; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 38vmin;
  pointer-events: none;
  margin-top: -50px;
}

.App-header {
  background-image: url(http://pic.616pic.com/bg_origin_img/00/18/51/MQ9nkBo7XD.jpg?_upd=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-table table {
  background-color: white;
}

h1 {
  margin-bottom: 10px;
}